version: 2
ethernets:
  enp2s0:
    dhcp4: true
    nameservers:
      search: [{{.ClusterDomain}}]
      addresses: [{{.DNSIP}}]
  enp3s0:
    dhcp4: false
    dhcp6: false
    addresses:
      - {{.ClusterIP}}/24
    routes:
      - to: {{.ServiceCIDR}}
        scope: link
    optional: true
